    <aside class="three columns">

      <h5>use it anywhere</h5>
      
      <div class="panel">

        <p>Use Costpad for all your cost estimates and quotes, your data is available 24/7 and easily managed on any web device, including your phone.</p>
        <%= link_to "Read More ->", about_path %> 
      </div>

      <h5>get started</h5>
      <ul class="side-nav">
        <li class ="secondary button"><%= link_to "sign up", signup_path %></li>
        <% if signed_in? %>
        <li class ="secondary button"><%= link_to "logout", signout_path, method: "delete" %></li>
        <% else %>
        <li class ="secondary button"> <%= link_to "login", signin_path %></li>
        <% end %>
      </ul>


    </aside>